@media (max-width: 767.98px) {
    .vertical-heading {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .vertical-heading h5 {
        left: -95px !important;
    }
    
    .flex-container {
        flex-direction: column;
        flex-wrap: wrap
    }
    
    .flex-container .flex-item {
        margin-bottom: 20px !important;
    }
}