/* ====================================
    Default Theme
    -----------------------------------
    Fonts: Raleway & Open Sans
    -----------------------------------
    Colors:
/* ==================================*/

$blue-saphire: #1F4F7F;
$grey: #A9A9A9;
$white-smoke: #f4f4f4;
$white: #fff;
$black: #000;
$blue: #512AED;
$dark-overlay: rgba(0, 0, 0, 0.7);

/* ====================================
                Html, Body
/* ==================================*/

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
}

section {
    background: $white;
    overflow: hidden;
}

.hheading {
    font-size: 42px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 30px;
}


/* ====================================
                Preloader
/* ==================================*/

#preloader {
    background-color: $white-smoke;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    #status {
        background-image: url("../img/preloader/spinner.gif");
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -100px;
        margin-left: -100px;
    }
}

/* ====================================
                Header & Navbar
/* ==================================*/

#home {

    .navbar {
        padding: 10px 0;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear;

        .nav-link {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            padding-left: 1em !important;
            padding-right: 1em !important;
        }

        .nav-link:hover {
            color: $grey;
        }

        a {
            color: $white;
        }
    }

    .white-nav {
        background: #fff;
        padding: 10px 0;
        -webkit-box-shadow: 0 8px 6px -9px #999;
        box-shadow: 0 8px 6px -9px #999;
        z-index: 2;
    }

    .white-nav a {
        color: #212226;
    }

    .white-nav ul.navbar-nav > li > a:hover {
        color: $blue;
    }

    .white-nav ul.navbar-nav > li > a.active {
        color: $blue;
        font-weight: 500;
    }
}


/* ====================================
                Slider
/* ==================================*/

#slider {

    height: 100%;

    .carousel,
    .carousel-inner,
    .carousel-item {
        height: 100%;
    }

    .carousel-item {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .carousel-image-1,
    .carousel-image-2,
    .carousel-image-3 {
        height: 100%;
        width: 100%;
    }

    .carousel-image-1 {
        background: url('../img/slider/image1.jpg');
        background-position: center;
        background-size: cover;
    }

    .carousel-image-2 {
        background: url('../img/slider/image2.jpg');
        background-position: center;
        background-size: cover;
    }

    .carousel-image-3 {
        background: url('../img/slider/image3.jpg');
        background-position: center;
        background-size: cover;
    }

    .carousel-caption {
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        bottom: initial;
    }
}

.dark-overlay {
    position: absolute;
    background-color: $dark-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ====================================
                Content Boxes
/* ==================================*/

.content-box-sm {
    padding: 80px 0;
}

.content-box-lg {
    padding: 120px 0;
}

/* ====================================
                HEADINGS
/* ==================================*/

.vertical-heading h5 {
    color: $blue;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: 9px;
    display: inline-block;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: relative;
    top: 60px;
    left: -33px;
}

.vertical-heading h2 {
    margin: 0 0 0 35px;
    font-size: 42px;
    font-weight: 200;
    line-height: 45px;

    strong {
        font-weight: 500;
    }
}

/* ====================================
                Home Icons
/* ==================================*/

#home-icons {
    background-color: $white-smoke;
    
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flex-item {
        width: 32%;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear;

        i {
            font-size: 42px;
            margin: 14px 0;
            -webkit-transition: all 300ms linear;
            transition: all 300ms linear;
        }

        h3 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
        }
    }
    
    .flex-item:hover,
    .flex-item:focus {
        background: $blue-saphire;
        color: $white;

        i {
            -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
        }
    }
}

/* ====================================
                About Me
/* ==================================*/

#about-me {

    #accordion h5 {
        text-transform: uppercase;
        cursor: pointer;
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear;
    }

    #acordion .card .card-header {
        -webkit-transition: all 300ms linear;
        transition: all 300ms linear;
    }

    .header-active {
        background-color: $blue;
        color: white;
    }

    .card-body {
        background-color: $white;
    }
}

/* ====================================
                Statement
/* ==================================*/

#statement {
    background: url(../img/statement/tech-quote.jpg) no-repeat fixed center;
    background-size: cover;

    .content-box-lg {
        background: rgba(0, 0, 0, .3);

        #tech-statement h3 {
            color: #fff;
            font-size: 28px;
            line-height: 45px;
        }

        #tech-statement p {
            color: #fff;
            font-size: 14px;
            font-family: "Raleway", sans-serif;
            margin-top: 8px;
        }
    }
}

/* ====================================
                Skills
/* ==================================*/

#skills {
    background-color: $white-smoke;
    hr {
        width: 50%;
    }
    .progress-item {
        margin-bottom: 30px;

        h4 {
            line-height: 62px;
            margin: 0;
            font-weight: normal;
        }

        .progress {
            height: 20px;
            border-radius: 0;
            background: #D3D3D3;
            overflow: visible;

            .progress-bar {
                position: relative;
            }

            .html-bar {
                background-color: #e34f26;
            }

            .css-bar {
                background-color: #3B5998;
            }

            .js-bar {
                background-color: #f7df1e;
            }

            .c-bar {
                background-color: $grey;
            }

            span {
                font-size: 11px;
                font-weight: 100;
                font-family: "Open Sans", sans-serif;
                background-color: #212226;
                padding: 3px;
                position: absolute;
                left: 97%;
                top: -45px;
            }

            span:before {
                content: "";
                border-top: 8px solid #212226;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                position: absolute;
                bottom: -8px;
                left: 28%;
            }
        }
    }
}

/* ====================================
                Work
/* ==================================*/

#work {

    hr {
        width: 50%;
    }

    .card-title {
        font-size: 38px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    .card-text {
        font-size: 13px;
    }

    .card-footer {
        a {
            font-size: 24px;
            text-decoration: none;
            color: $black;
            -webkit-transition: all 300ms linear;
            transition: all 100ms linear;
        }

        a:hover {
            color: $blue;
        }
    }
}

/* ====================================
                Contact
/* ==================================*/

#contact {
    background: $white-smoke;

    .form-control:focus {
        border-color: rgba(0, 0, 0, .2);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    .card {
        border-radius: 0;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    }

    ul {
        list-style: none;

        li {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 10px;

            i {
                font-size: 18px;
                width: 25px;
            }
        }
    }
}

footer {

    .btn-back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 2px 15px;
        border: 1px solid $blue;
        background-color: $white-smoke;
        color: $blue;
        border-radius: 4px;
        font-size: 22px;
        display: none;
    }

    .btn-back-to-top:hover {
        border: 1px solid $blue-saphire;
        background-color: $blue-saphire;
        color: $white;
    }
}